.lxwck { 
  line-height: 16px;
  padding-right: 21px;
  border-bottom-width: 78px;
  border-left-width: 64px;
  border-right-width: 57px;
  padding-right: 96px;
  border-left-width: 82px;
  line-height: 1px;
}
