.kjsxe { 
  margin-top: 20px;
  margin-right: 2px;
  margin-left: 88px;
  padding-bottom: 1px;
  border-right-width: 2px;
  margin-right: 3px;
  margin-right: 82px;
  line-height: 42px;
  border-bottom-width: 54px;
  font-size: 30px;
  border-right-width: 72px;
  border-bottom-width: 85px;
  margin-top: 61px;
  margin-top: 79px;
  padding-top: 9px;
  font-size: 81px;
  padding-top: 72px;
  border-top-width: 83px;
  line-height: 51px;
  padding-bottom: 75px;
}
